section.landing-page {
    background: linear-gradient(to bottom left, #c6cbe8,#f7f6fd, #ffffff, #ffffff);
    height: 500px;
    margin-top: 0;
    display: flex;
}
.left-section > p {
    font-size: 30px;
    margin: 0;
}
.left-section > h2 {
    font-size: 50px;
    color: #6674cc;
    /* border: 1px solid black; */
    margin: 0;
}
.left-section {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* margin-left: 50px; */
    padding-left: 200px;
    padding-top: 200px;
}

.right-section {
    padding-right: 150px;
    padding-top: 100px;
}

.right-section > .right-section-img {
    height: 350px;
    width: 500px;
    border-radius: 25px;
}